.container{
    margin: auto;
    width: 700px;
}

.item{
    border: 1px solid black;
}

.header{
    font-size: 28px;
    color: mediumvioletred;
}

.header-right{
    text-align: right;
}

.image{
    padding: 0 10px;
    float: left;
}

/* #special-div{
    text-align: right;
}
 */

 .image-float-right{
     float: right;
 }

 .description{
    font-size: 18px;
    text-align: justify;

 }

