.main-container{
    margin: auto;
    width: 50vw;
    font-size: 18px;
}

.main-content{
    background-image: url('./img/background.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    /* width: 110%; */
}

.main-header{
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-size: 2.4em;
}

.main-description{
    color: #e4e4e4;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.post{
    border: 1px solid rgb(23, 10, 10);
}

.post-header{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #3d3d3d;
    font-size: 2em;
}

.post-content{
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
}